.depoimentos{
    background: rgba(196, 25, 25, 0.03);
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 7rem;
    margin-bottom: 6rem;
    padding: 4rem;
    }

.depoimentos__sobretexto{
    color: #8E2424;
    font-weight: 600;
    font-size: 0.875rem;
    line-height: 1.25rem;
    text-align: center;
}

.depoimentos__texto{
    color: #101828;
    font-size: 2.25rem;
    font-weight: 500;
    line-height: 2.75rem;
    margin-top: 1rem;
    text-align: center;
    letter-spacing: -0.02em;
}

.depoimentos__pessoa{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
}

.depoimentos__pessoa-foto{
    border-radius: 50%;
    margin-bottom: 1rem;
}

.depoimentos__pessoa-nome{
    color: #101828;
    text-align: center;
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 0.25rem;
}

.depoimentos__pessoa-funcao{
    color: #667085;
    text-align: center;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 1.25rem;
}

@media screen and (max-width: 480px) {

    .depoimentos{
        margin: 1rem 1rem;
    }

    .depoimentos__texto{
        font-size: 1rem;
        line-height: initial;
    }
    
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    
    .depoimentos{
        margin: 1rem 3rem;
    }

    .depoimentos__texto{
        font-size: 1.5rem;
        line-height: initial;
    }
    
}